.bg-image {
    background-image: url('./cuttingboard.jpeg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    */
}

.center {
    text-align:center;
    margin:auto;
    width:50%;
}

.btncenter {
    margin:auto;
    width:10%;
    padding:50%
}