#footer {
  display: flex;
  justify-content: space-between;
}

.citiesImage {
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.3)), url("https://imgur.com/Gzrdzfk.png");
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.citiesHeader {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: whitesmoke;
}

.citiesH4 {
  text-align: center;
  font-size: 30px;
  margin-top: 1em;
  font-weight: bold;
  color: whitesmoke;
}

.recipeImages {
  text-align: center;
  width:fit-content;
  background-color:white; 
  height:500;
}