/* Credit goes to w3schools for providing the css design for the Navbar*/
.NavList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #72b01d;
  }
  
  .NavItem {
    float: left;
  }
  
  .nav-links {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to a lighter blue on hover */
  .nav-links:hover {
    background-color: #b0ffb4;
  }