
.card{
    width:27rem;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important
}

.card-img-top{
    width:100%;
    height: 18vw;
    object-fit: cover;
    transform: scale(1);
    transition: 1s;
    z-index: 999;
}

.container-fluid .row{
    padding: 1rem;
}
